.friendslist{
margin-left: 300px;
margin-top: 100px;
}

.friend{
    position: fixed;
left: 0;
margin-left: -1px;
background-color: white;
width: 350px;
height: 700px;
padding: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.individual{
    height: 290px;
        width: 250px;
        padding: 15px;
}
.img{
    position: relative;
    left: 40px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.addfriend{
   
    color: blue;
    background-color: rgb(199, 230, 249);
    border: none;
}